.cardWrapper {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;

    padding-top: 50px;
}

.cardWrapper .card {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    padding: 0px 50px;
}

.cardWrapper .card:nth-child(even) {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

@media screen and (max-width:900px) {

    .cardWrapper {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
        width: 95%;
        justify-content: space-evenly;
        align-items: center;

        padding-top: 50px;
    }

    .cardWrapper .card:nth-child(even) {
        border: unset;

    }

    .cardIcon {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}