.careWrapper {
    height: 300px;
    display: flex;
    width: 80%;

    justify-content: center;
    margin: auto;
    padding: 5% 0px;

}

.careContext {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.careContext h1 {
    font-size: 30px;
    font-weight: bold;
    width: 100%;

    font-family: Space Grotesk, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.careContext p {
    font-size: 15px;
    width: 100%;
}

.careContextImage {
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    margin: auto;

    height: 90%;
    width: 50%;
}

.careContextImage img {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: contain;
}