.dataExWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: auto;
    width: 100%;
    margin: auto;
}

.curve1 {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);

}

.curve1 img {
    width: 100%;
    height: 100%;
    transform: scale(-1, -1);
    object-fit: fill;
    display: flex;
}

.dataEx-content1Wrapper {
    background-color: #f0f0f0;
    width: 100%;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 3% 0px;
}

.curve2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 24, 24);
}

.curve2 img {
    width: 100%;
    object-fit: fill;
    display: flex;
}

.dataEx-content2Wrapper {
    width: 100%;
    height: auto;
    display: flex;
    padding: 3% 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgb(26, 24, 24);
}

.de-content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 300px;

}

.de-illustrationWrapper,
.de-writeUp {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: normal;
    flex: 1;
    height: 100%;
}

.de-illustrationWrapper img {
    height: 100%;
    width: auto;
    object-fit: contain;
    margin: auto;
    display: flex;
}

.de-writeUp {
    align-items: flex-end;
    justify-content: center;
}

.de-writeUp h1 {
    height: auto;
    width: 60%;

    font-family: space grotesk;
}

.de-writeUp p {
    height: auto;
    width: 60%;
}

.de-content2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 300px;
}

.de-content2 h1 {
    height: auto;
    width: 60%;

    font-family: space grotesk;
}

.de-con-1 {
    width: 100%;
    display: flex;
    gap: 50px;
    text-align: center;
}

.de-crd {
    width: auto;
    height: auto;
    flex-direction: column;
    display: flex;
    gap: 20px;
}

.de-crd p {
    width: 50%;
    margin: auto;
    display: flex;
    font-size: 15px;
}

.de-crd img {
    width: 70px;
    height: auto;
    display: flex;
    margin: auto;
}

@media screen and (max-width:900px) {


    .dataEx-content1Wrapper {
        background-color: #f0f0f0;
        width: 100%;
        display: flex;
        height: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding: 0px;

    }

    .de-content1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70%;
        height: auto;

    }


    .de-illustrationWrapper img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        margin: auto;
        display: flex;
    }


    .de-writeUp {
        align-items: center;
        justify-content: center;
    }

    .de-writeUp h1 {
        height: auto;
        width: 100%;

        font-family: space grotesk;
    }

    .de-writeUp p {
        height: auto;
        width: 100%;
    }



    .de-content2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
        height: auto;
    }

    .de-content2 h1 {
        height: auto;
        width: 90%;
        text-align: center;
        font-family: space grotesk;
    }

    .de-crd {
        width: auto;
        height: auto;
        flex-direction: column;
        display: flex;
        gap: 20px;
    }

    .de-crd p {
        width: 100%;
        margin: auto;
        display: flex;
        font-size: 15px;
    }


    .curve2 {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(26, 24, 24);
        transform: translateY(-10px);
    }
    
    .curve2 img {
        transform: translateY(10px);
        width: 100%;
        height: 100%;
        object-fit: unset;
        margin: auto;
        display: flex;
    }

}