.plan-Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: auto;
    gap: 1 0px;

}

.plan-Wrapper h1 {
    text-align: center;
    width: 100%;
    height: auto;

    font-family: space grotesk;
}

.plan-Wrapper p {
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 10px;
}

.plan-cards-container {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5% 0px;

 }

.p-card-main {

    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: column;

    border-radius: 5px;
    overflow: hidden;
    border: 1px solid darkgray;
    width: 300px;
}

.p-card-writeup {
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.p-card-main button {
    width: 100%;
    padding: 10px;

    background-color: black;
    color: white;
    border: none;
    cursor: pointer;

    transition: 350ms all ease;
}

.p-card-main button:hover {
    background-color: red;
    color: white;
}